<div class="row">
	<div class="col-xs-8">
		<div class="jumbotron text-center">
			<h1>Welcome to Scorecard!</h1>
			<img src="/assets/img/logo.png" class="img-rounded" alt="Scorecard" width="256" height="256">

			<div ng-if="!main.loggedIn">
				<p>Register with:</p>
				<a href="/auth/register" class="btn btn-default">Register</a>
				<a href="/auth/google" class="btn btn-danger">
					<span class="fa fa-google"></span> Google Drive UC 1 & 2</a>
				<p>You can access the application by signing up or using your google account.</p>
			</div>
		</div>
	</div>
	<div class="col-xs-4">
		<div class="jumbotron">
	        <h2>Log In</h2>

	        <form ng-submit="main.doLogin()">

	            <div class="form-group">
	                <label>Email</label>
	                <input type="text" class="form-control"
	                    ng-model="login.loginData.username">
	            </div>
	            <div class="form-group">
	                <label>Password</label>
	                <input type="password" class="form-control"
	                    ng-model="login.loginData.password">
	            </div>

	            <div class="alert alert-danger" ng-if="login.error">
	                {{ login.error }}
	            </div>

	            <button type="submit" class="btn btn-block btn-default">
	                <span ng-if="!login.processing">Login</span>

	                <span ng-if="login.processing">
	                    <span class="glyphicon glyphicon-repeat spinner"></span></span>
	            </button>
	        </form>
	    </div>
	</div>
</div>
