<div class="page-header">
    <h1>
        Google Drive Dashboard
    </h1>
</div>

<div class="jumbotron text-center" ng-show="drive.processing">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading Statictics...</p>
</div>


<div class="row" ng-show="!drive.processing">

    <!-- GOOGLE INFORMATION -->
    <div class="col-sm-6">
        <div class="well">

            <img src={{drive.userInfo.photoLink}} class="img-circle" alt="Profile" width="60" height="60">
            <h3 class="text-danger">
                <span class="fa fa-google"></span> Google</h3>

            <p>
                <strong>Permission Id</strong>: {{drive.userInfo.permissionId}}
                <br>
                <strong>Name</strong>: {{drive.userInfo.displayName}}
                <br>
                <strong>Email</strong>: {{drive.userInfo.emailAddress}}
                <br>
            </p>


        </div>
    </div>

</div>
